/*-----------------------
MENU DE NAVIGATION
-----------------------*/



header {
    position: relative;
    height:100%;    
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
}



nav{
    position: relative;
    height:100%;
    width:100%;
    font-size: 2.5rem;
}

nav ul {
    position: relative;
    list-style: none;
    width:100%;
    height:100%;
    margin:0;
    padding: 0;
    display:grid;
    grid-template-rows: 80px auto;
}

nav li {
    position: relative;
    color: white;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    transition: 0.3s;
}

.arrow-top{
    font-weight: 100; 
    font-family: 'Roboto', serif;
    color: #7adda2;
    transition: 0.2s;
}
.arrow-top:hover{color: white;}

.arrow-down{
    transform: rotate(180deg);
    font-weight: 100; 
    font-family: 'Roboto', serif;
    color: #7adda2;
    transition: 0.2s;
}

.arrow-down:hover{color: white;}

nav .arrow-top{
    position: absolute;
    left:55px;
    top:20px;
}


nav .arrow-down{
    position: absolute;
    top:-50px;
    left:55px;
}




nav .rub{
    position: absolute;
    width:calc(100% - 200px);
    margin-left:100px;  
    font-style: italic;
    color: inherit;

}

nav .rub::before{
    content: '#';
    position: absolute;
    left:-50px;
    margin:0;
    padding:0;
    font-family: 'Playfair Display', serif;
    font-weight: 100;    
    color:#7adda2;
    font-style: normal;
    transition: 0.3s;
}


nav li .rub::after{
    content:'';
    display: block;
    width: 98px;
    height: 1px;
    background-color: #7adda2;;
    position: absolute;
    left: -100%;
}


nav li:hover .rub::after{
    left: -100px;    
    animation: slideLeft 0.5s ease;
}


@media only screen and (orientation: landscape) {
    header{
        padding-left:100px;
    }
    nav .arrow-top{
        position: absolute;
        top:20px;
        left:-10px;
    }
    nav .arrow-down{
        position: absolute;
        top:-0px;
        left:-10px;
    }
}



  /* ANIMATIONS MENU */
@keyframes slideLeft {
    from {left:-100%;}
    to {left:-100px;}
}
@-moz-keyframes slideLeft { /* sur Firefox */
    from {left:-100%;}
    to {left:-100px;}
}
@-webkit-keyframes slideLeft { /* sur Safari et Chrome */
    from {left:-100%;}
    to {left:-100px;}
}
@-o-keyframes slideLeft { /* sur Opera */
    from {left:-100%;}
    to {left:-100px;}
}


/* Affichage menu colonne élargi**/
/*---------------------
Contenu de la page
------------------------*/

#content {
    position: relative;
    padding-top:30px;
    background: url(img/fondIntro.png) fixed white;
    font-family: 'Roboto', sans-serif;
	animation: animatedBackground 40s linear infinite;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;   
}

#content .content-box{
    margin-bottom: 30px;
    padding-top:50px;
    padding-bottom:50px;
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    display: grid;
    grid-template-columns: 100px auto;
}


@media only screen and (orientation: landscape) {
    #content .content-box{
        grid-template-columns: 200px auto;
    }
}

.content-nav{
    grid-template-rows: 50%; 
    display: grid;    
    text-align: center;
    font-size: 2.5rem;
}

.content-text{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    quotes: "«" "»";
    padding-right: 100px;
    display: grid;
    grid-template-rows: auto;
}

.content-text h5{
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    font-weight: 400;
    line-height: 2.5rem;
}

.content-text h5::before{
    content: open-quote;
    position: relative;
    top: 20px;
    left: -10px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #f37d7f;
    font-size: 2.5em;
    text-shadow: none;
    
}
.content-text h5::after{
    content: close-quote;
    position: relative;
    top: 20px;
    left: 10px;
    font-family: 'Roboto';
    font-weight: 100;
    color: #f37d7f;
    font-size: 2.5em;
    text-shadow: none;
}




/*
.content-box h5{
    max-width:100%;
    margin:1em;
    
    font-family: 'Prata', serif;
    font-size: 0.75em;
    font-weight: 100;
    text-align: left;
    text-shadow: 0 0 1px white;
}


.content-box h5::before{
    position: relative;
    top:10px;
    left:-30px;
    color:#58585a;
    content: open-quote;
    font-size: 3em;
    line-height: 30px;
    text-shadow: none;
    
}



@media only screen and (min-width: 768px) {
    #content{
        padding: 300px 0;
    }
}
@media only screen and (min-width: 1280px) {
    .content-box h5{
        font-size: 1em;
    }
}
*/

.content-img{
    height:500px;
    overflow:hidden;

}
.content-img img {
    height:500px; 

}

.content-box ul {
    padding-left:0;
    list-style: none; 
    text-align: center; 
    font-size:0.75em;
    font-weight:100;
}
/*
.content-box ul::before{
    content: '';
    display: block;
    width: 100%;
    height: 20px;
    background-color:  #58585a;
    position: relative;;
    left: 0;
    bottom: -15px;
    margin-top:100px;
}
*/
.content-box li {
    margin-bottom:50px;
    margin-top:100px;
    display:table;
}
/*
.content-box li::before{
    content:'#';
    font-family: 'Parisienne', cursive;
    font-size: 2em;
    color: 
}

.content-box li::after{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color:  #58585a;
    position: relative;;
    left: 0;
    bottom: -15px;
}

*/

/*--------------------
Blocs de contenus particuliers
---------------------*/




#introText h6{
    position: relative;
    top:-50px;
    margin: 0;
    padding-top:10px;
    float: right;
    font-family: 'Great Vibes', cursive;
    font-size: 1.8em;
    font-weight: 100;
    color: #58585a;
    text-shadow: 0 0 1px #999999; 
}

#introText span{    
    position: relative;
    top:15px;
    right:-280px;
    margin:0;
    
    float:right;
    font-family: 'Prata', serif;
    font-size:0.8em;
    font-style: italic;
    color: #232427;
}

.mySlides {
    display:none;
}

@media only screen and (min-width: 768px) {
    #introText span{    
        position: relative;
        left:280px;
        margin:0;
    }
}

  
    #introText h6{    
        position: relative;
        left:-100px;
        margin:0;
    }
    
    #introText span{    
        position: relative;
        left:180px;
        margin:0;
    }
    
    
}

/*---------------------

Clases Animations CSS

-----------------------*/


.fadeIn{
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari et Chrome */
    -o-animation: fadein 3s; /* Opera */
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* sur Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* sur Safari et Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* sur Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
